.card-body.text-left{
	max-height: 45vh !important; 
	overflow: auto !important;
}
.card{
    margin:15px;
    -webkit-box-shadow: -1px 14px 5px -9px rgba(0,0,0,0.22);
    -moz-box-shadow: -1px 14px 5px -9px rgba(0,0,0,0.22);
    box-shadow: -1px 14px 5px -9px rgba(0,0,0,0.22);
}

.message{
    background-size: 40px 40px;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                        transparent 75%, transparent);                                      
     box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
     width: 50%;
     border: 1px solid;
     color: #fff;
     padding: 15px;
     position: fixed;
     _position: absolute;
     text-shadow: 0 1px 0 rgba(0,0,0,.5);
     animation: animate-bg 5s linear infinite;
}

.info{
     background-color: #4ea5cd;
     border-color: #3b8eb5;
}

.error{
     background-color: #de4343;
     border-color: #c43d3d;
}
     
.warning{
     background-color: #eaaf51;
     border-color: #d99a36;
}

.success{
     background-color: #61b832;
     border-color: #55a12c;
}

.message h3{
     margin: 0 0 5px 0;                                                  
}

.message p{
     margin: 0;                                                  
}

@keyframes animate-bg {
    from {
        background-position: 0 0;
    }
    to {
       background-position: -80px 0;
    }
}

#contenedorMensaje{
    position: absolute;
    width: 50%;
    z-index: 1;
}

label{
    text-decoration: none !important;

}

body{
    background-color: #f4f6f7;
    font-family: 'roboto', roboto;
}

h6{
    padding: 10px;
}


.sticky {
  position: -webkit-sticky important!;
  position: sticky important!;
  top: 0;
}